/*主体结构样式*/
.gechiindex_left{
	float: left;
	width: 30%;
	height: 700px;
	max-height: 700px;
}
.gechiindex_right{
	float: left;
	width: 70%;
	height: 700px;
	max-height: 700px;
	overflow: hidden;
}
.gechiindex_top{
	width: 100%;
	max-height: 700px;
}
.gechiindex_bottom{
	width: 100%;
	height: 700px;
}
/*左边动画样式*/
.gechiindex_img_donghua{
	left: 280px;
	top: 90px;
	transform: rotate(-30deg);
	transform-origin:12px 12px;
	transition: 0.5s;
}
.gecchiindex_img_donghua_dong{
	transform: rotate(30deg);
}
.gechiindex_img_center{
	border-radius: 50%;
	width: 150px;
	height: 150px;
	left: 183px;
	top: 240px;
	-webkit-animation: XuanZhuan2 2s infinite;
	-webkit-animation-direction: normal;
	-webkit-animation-timing-function: linear;
	-webkit-animation-play-state: paused;
}
.gechiindex_img_heijiao{
	width: 300px;
	height: 300px;
	left: 110px;
	top: 170px;
	-webkit-animation: XuanZhuan2 2s infinite;
	-webkit-animation-direction: normal;
	-webkit-animation-timing-function: linear;
	-webkit-animation-play-state: paused;
}

@keyframes XuanZhuan2{
			from{transform: rotate(0deg);}
			to{transform: rotate(360deg);}
}
.playing2{
			-webkit-animation-play-state: running;
}
.gechiindex_img_donghua,
.gechiindex_img_center,
.gechiindex_img_heijiao{
	position: absolute;
}
.gechiindex_ul{
	max-height: 700px;
	font-size: 30px;
	text-align: center;
	line-height: 2;
}
/*歌词变红选中*/
.gechigo{
	color: red;
}
.gechiindex_li{
	height: 70px;
	transition: transform 2s;
}
.gechinull{
	position: relative;
	top: 40%;
	left: 40%;
	margin-right: 10%;
	font-size: 50px;
}
.gechiindex_left_div{
	position: relative;
	top: 400px;
	left: 200px;
}
.gechiindex_left_p{
	float: left;
}